#login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;


    label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding-top: 1rem;
        margin: 0.5rem auto;  
    }

    input,  .login-textfield{ 
        width: 100% !important;
        padding: 0.75rem;
        margin: 0 0 0 0;
        border: 1px solid rgba(0, 0, 0, 0.26);
        border-radius: 2px;
    }

    .error-text {
        color: red;
    }

    .control-error {
        border: 2px solid red;
    }



    button[type='submit'] {
        width: 100%;
        padding: 1rem;
       margin-top: 2rem;
        cursor: pointer;
        background-color: black;
        color: white;
    }
}

@media only screen and (min-width: 34rem) {

    #login {
        width: 100%;

        #login-form {
            max-width: 30rem;
            width: 100%;
        }
    }

}